<h1>IBAN CHECK</h1>

<div class="main">
  <mat-form-field class="formfield">
    <input matInput #iban type="text" placeholder="Check your IBAN" class="full-width">
  </mat-form-field><br>
  <button type="button" (click)="getValue(iban.value)" mat-raised-button color="primary">CHECK</button>
  <br><br>  
  <button type="button" mat-raised-button color="primary" (click)="IN.click()">CHOOSE FILE
    <input id="inputFILE" #IN type="file" name="uploaded" (change)="selectFile($event)"/>
  </button>
  <br><br>  
  <h2 *ngIf="this.show">Your file is processed, you can download it :)</h2>
  <button mat-raised-button color="primary" *ngIf="this.show" type="button" (click)="download()">Download</button>    
</div>